#colour {
  background-image: url(../images/balls.jpg);
  text-align: center;
  font-family: 'Bubblegum Sans', cursive;
}

#pop {
  background-color: grey;
  font-family: 'Bubblegum Sans', cursive;
}


#reply {
  font-family: 'Bubblegum Sans', cursive;
}

#replies-form {
  font-family: 'Bubblegum Sans', cursive;
}
